<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon name="home"></ion-icon>
      <ion-label>首 页</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>电 影</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>购物车</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user">
      <ion-icon name="people"></ion-icon>
      <ion-label>用 户</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>