.hotImg {
    opacity: 1;
    position: relative;
    top: 3px;
}

.spanTitle {
    font: 14px Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #666666;
}
.labelSize {
    font: 14px Arial, Helvetica, sans-serif;
    line-height: 150%;
    
}